.carousel-indicators {
    bottom:-40px;
    left:0;
    width:100%;
    background: transparent;
    padding: 6px 0px;
    margin-left:0;
    border-top:2px solid transparent;
}
.carousel-indicators li {
    width:12px;
    height:12px;
    background:transparent;
    border-color:transparent;

}
.carousel-indicators .active {
    width:14px;
    height:14px;
    background:transparent;
    border-color:transparent;
}
.carousel-inner .thumbnail {
    margin-bottom:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.carousel-inner .caption {
    background:#ddd;
    padding: 10px;
}
#rightP {
    width: 50%;
    padding: 5px 15px;
    position:absolute;
    top: 10%;
}